.details {
  font-size: 12px;
}

header {
  padding: 15px 0px;
  font-size: 28px;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.9);
  height: 70px;
}

#logo {
  text-decoration: none;
  color: black;
  position: absolute;
  left: 26px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

.form-check-label {
  font-size: 20px;
}

body {
  background: rgb(255, 230, 186);
}

.btn {
  width: 400px;
  height: 50px;
  font-size: 20px;
}

.table-hover tbody tr:hover td {
  background-color: rgb(255, 250, 229);
}

td {
  padding: 5px 0;
  font-size: 20px;
}

tr {
  padding: 0 5px;
  border-top: rgb(254, 254, 185) 3px solid;
  width: 50%;
  background-color: rgb(255, 255, 250);
  font-size: 20px;
}
